In [10]:
import vitaldb
import matplotlib.pyplot as plt

In [77]:
track_names = ['Primus/AWP']
vf = vitaldb.VitalFile(1, track_names)
samples = vf.to_pandas(track_names, 1/100)

samples.sample(10)

         Primus/AWP
262709       0.3440
205071       0.4504
1118194     -0.5072
325421       8.4304
717162      14.9208
325752       0.3440
741583       5.2384
704774       5.5576
47132        0.7696
679192       7.1536