In [52]:
import matplotlib.pyplot as plt
import numpy as np
from glob import glob
import pandas as pd
import sys

#시각화 패키지들
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

plt.style.use("ggplot")

#분석 관련
from scipy.stats import chi2_contingency
from scipy.stats import kstest
from statsmodels.formula.api import ols

In [79]:
# 파일 불러오기
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train

,no,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,1,25,Private,219199,11th,7,Divorced,Machine-op-inspct,Not-in-family,White,Male,0,0,40,United-States,0
1,2,39,Private,52978,Some-college,10,Divorced,Other-service,Not-in-family,White,Female,0,1721,55,United-States,0
2,3,35,Private,196899,Bachelors,13,Never-married,Handlers-cleaners,Not-in-family,Asian-Pac-Islander,Female,0,0,50,Haiti,0
3,4,64,Private,135527,Assoc-voc,11,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,0
4,5,24,Private,60783,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,70,United-States,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29300,29301,20,Private,100605,HS-grad,9,Never-married,Sales,Own-child,Other,Male,0,0,40,Puerto-Rico,0
29301,29302,21,Private,372636,HS-grad,9,Never-married,Sales,Own-child,Black,Male,0,0,40,United-States,0
29302,29303,18,Self-emp-not-inc,258474,10th,6,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States,0
29303,29304,33,Private,157446,11th,7,Never-married,Craft-repair,Not-in-family,White,Male,0,0,65,United-States,0
29304,29305,65,?,94809,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,40,United-States,0

In [80]:
train.columns = train.columns.str.replace('.','_')
test.columns = test.columns.str.replace('.','_')

C:\Project\AI_Source\AI_01\venv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.
C:\Project\AI_Source\AI_01\venv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [84]:
# train['workclass'] = train['workclass'].replace('Private', np.NaN)
train['workclass'] = np.where(train['workclass'] == ' Private' , np.NaN , train['workclass'] )
train['workclass']

0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
               ...
29300                  NaN
29301                  NaN
29302     Self-emp-not-inc
29303                  NaN
29304                    ?
Name: workclass, Length: 29305, dtype: object

In [6]:
# 데이터 차원 확인하기
print('train : ',train.shape)
print("test : ", test.shape)

train :  (29305, 16)
test :  (19537, 15)

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29305 entries, 0 to 29304
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              29305 non-null  int64
 1   age             29305 non-null  int64
 2   workclass       29305 non-null  object
 3   fnlwgt          29305 non-null  int64
 4   education       29305 non-null  object
 5   education-num   29305 non-null  int64
 6   marital-status  29305 non-null  object
 7   occupation      29305 non-null  object
 8   relationship    29305 non-null  object
 9   race            29305 non-null  object
 10  sex             29305 non-null  object
 11  capital-gain    29305 non-null  int64
 12  capital-loss    29305 non-null  int64
 13  hours-per-week  29305 non-null  int64
 14  native-country  29305 non-null  object
 15  income          29305 non-null  int64
dtypes: int64(8), object(8)
memory usage: 3.6+ MB

In [8]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19537 entries, 0 to 19536
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   no              19537 non-null  int64
 1   age             19537 non-null  int64
 2   workclass       19537 non-null  object
 3   fnlwgt          19537 non-null  int64
 4   education       19537 non-null  object
 5   education-num   19537 non-null  int64
 6   marital-status  19537 non-null  object
 7   occupation      19537 non-null  object
 8   relationship    19537 non-null  object
 9   race            19537 non-null  object
 10  sex             19537 non-null  object
 11  capital-gain    19537 non-null  int64
 12  capital-loss    19537 non-null  int64
 13  hours-per-week  19537 non-null  int64
 14  native-country  19537 non-null  object
dtypes: int64(7), object(8)
memory usage: 2.2+ MB

In [9]:
np.sum(test.isna())

no                0
age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
dtype: int64

In [13]:
print('educatuon \n',train['education'].unique())
print('educatuon-num \n',train['education-num'].unique())

print('workclass \n',train['workclass'].unique())

print('marital-status \n',train['marital-status'].unique())

print('occupation \n',train['occupation'].unique())

print('relationship \n',train['relationship'].unique())

print('race \n',train['race'].unique())

print('sex \n',train['sex'].unique())

print('native.country \n',train['native-country'].unique())

educatuon
 [' 11th' ' Some-college' ' Bachelors' ' Assoc-voc' ' 9th' ' HS-grad'
 ' Masters' ' 5th-6th' ' Prof-school' ' 12th' ' 10th' ' Assoc-acdm'
 ' Doctorate' ' 7th-8th' ' 1st-4th' ' Preschool']
educatuon-num
 [ 7 10 13 11  5  9 14  3 15  8  6 12 16  4  2  1]
workclass
 [' Private' ' Self-emp-not-inc' ' Local-gov' ' ?' ' State-gov'
 ' Self-emp-inc' ' Federal-gov' ' Without-pay' ' Never-worked']
marital-status
 [' Divorced' ' Never-married' ' Married-civ-spouse' ' Separated'
 ' Married-spouse-absent' ' Widowed' ' Married-AF-spouse']
occupation
 [' Machine-op-inspct' ' Other-service' ' Handlers-cleaners'
 ' Tech-support' ' Transport-moving' ' Farming-fishing' ' Prof-specialty'
 ' Priv-house-serv' ' Adm-clerical' ' Protective-serv' ' Exec-managerial'
 ' ?' ' Craft-repair' ' Sales' ' Armed-Forces']
relationship
 [' Not-in-family' ' Husband' ' Unmarried' ' Other-relative' ' Own-child'
 ' Wife']
race
 [' White' ' Asian-Pac-Islander' ' Black' ' Amer-Indian-Eskimo' ' Other']
sex
 [' Male' ' Female']
native.country
 [' United-States' ' Haiti' ' Mexico' ' Puerto-Rico' ' Philippines' ' ?'
 ' Germany' ' Peru' ' Ecuador' ' Iran' ' Thailand' ' Dominican-Republic'
 ' Poland' ' Scotland' ' Italy' ' Jamaica' ' China' ' Portugal'
 ' Columbia' ' Hungary' ' Vietnam' ' Taiwan' ' Canada' ' Hong'
 ' Guatemala' ' El-Salvador' ' England' ' Outlying-US(Guam-USVI-etc)'
 ' India' ' France' ' Cuba' ' Greece' ' Trinadad&Tobago' ' South' ' Japan'
 ' Yugoslavia' ' Nicaragua' ' Ireland' ' Cambodia' ' Laos' ' Honduras'
 ' Holand-Netherlands']

In [15]:
def check_missing_col(dataframe):
    missing_col = []
    for col in dataframe.columns:
        missing_values = sum(dataframe[col].isna())
        is_missing = True if missing_values >= 1 else False
        if is_missing:
            print(f'결측치가 있는 컬럼은: {col} 입니다')
            print(f'해당 컬럼에 총 {missing_values} 개의 결측치가 존재합니다.')
            missing_col.append([col, dataframe[col].dtype])
    if missing_col == []:
        print('결측치가 존재하지 않습니다')
    return missing_col

missing_col = check_missing_col(train)

결측치가 존재하지 않습니다